html {
  height: 750px;
  width: 750px;
  font-size: 1.0em;
}

body#mypopup {
  height: 750px;
  width: 750px;
  padding: 15px;
}

.main-title-img {
  float: left;
  margin-right: 16px;
}

.the-titles {
  float: left;
  padding-top: 30px;
}

.main-title {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.1;
}

.second-title {
  margin-top: 4px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
}

.fun-inputs {
  margin-top: 8px;
}

.fun-options {
  margin-top: 8px;
}

.title-advanced {
  margin-top: 18px;
}

.advanced-options-section, .advanced-checkbox {
  margin-top: 6px;
}

.advanced-options-section {
  padding: 16px;
  margin-right: 0;
  margin-left: 0;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.top-fresh-air {
  margin-top: 24px;
}
