html {
  height: 550px;
  width: 750px;
  font-size: 1.1em;
}

body#mypopup {
  height: 550px;
  width: 750px;
  padding: 40px;
}

.fun-inputs {
  margin-top: 10px;
}

.fun-options {
  margin-top: 10px;
}
